.game-board {
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
    border: thick solid brown;
    background: burlywood;
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

.card {
    display: inline-block;
    width: 100%;
    background: indianred;
    border: medium solid black;
    border-radius: 0.5em;
}

.card-symbol {
    width: 100%;
    opacity: 0;
}

.card-face-up {
    background: palegoldenrod;
    animation: fadein-background 500ms;
    animation-fill-mode: both;
}

.card-face-up .card-symbol {
    /*opacity: 1;*/
    animation: fadein 500ms;
    animation-fill-mode: both;
}

.card-face-down {
    background: indianred;
    animation: fadeout-background 500ms;
    animation-delay: 750ms;
    animation-fill-mode: both;
}

.card-face-down .card-symbol {
    opacity: 0;
    animation: fadeout 500ms;
    animation-delay: 750ms;
    animation-fill-mode: both;
}

.credits-section {
    margin: 1em 0;
    text-align: center;
    font-size: smaller;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadein-background {
    from {
        background: indianred;
    }

    to {
        background: palegoldenrod;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeout-background {
    from {
        background: palegoldenrod;
    }

    to {
        background: indianred;
    }
}
